#title_listacc {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

#search_bydate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
#search_bar {
    width: 100%;
    max-width: 300px;
}

#title_date {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}